:root {
    --text-color: #B0E6FF;
    --background-color: #060824;
    --accent-color: #1e5e72;
    --accent-color-dark: #1b3652;
    --font-size: 18px;
    --font-size-bigger: var(--font-size)*4;
}

* {
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

*:hover {
    cursor: default;
}

button:hover, a:hover, input:hover {
    cursor:pointer;
}

.imgContainer img{
    height: 100%;
    width: auto;
}

/* ^^^ boilerplate - my own */

.main {
    width: 55%;
    height: fit-content;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    /* height: 123px; */
    /* width: 100%; */

}

#canvas {
    margin: auto;
}

.closer {
    letter-spacing: 0px;
}

header img, header button, a {
    background-color: var(--accent-color-dark);
}

header img {
    width: 80px;
    height: 80px;
}

header button {
    box-shadow: var(--accent-color) 0px 0px calc(var(--font-size)/2);
}

header {
    background: var(--accent-color-dark);
    background: linear-gradient(180deg, var(--accent-color-dark) 0%, var(--background-color) 100%);    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
    height: 17%;
    width: 100%;
    align-items: center;
}

header div.imgContainer {
    height: 100%;
}

.arrow p{
    line-height: calc(var(--font-size) + 1px);
}

a {
    font-size: var(--font-size-bigger);
}

a button {
    font-size: var(--font-size-bigger);
    height: calc(var(--font-size-bigger) + 20px);
    background-color: var(--accent-color-dark);
    border: 2px var(--accent-color) solid;
    width: calc(var(--font-size-bigger) + 40px);
    border-radius: 48%;
}

header a {
    height: 100%;
}

header a button {
    min-height: 100%;
}

/* game */
body.exception {
    display: flex;
    align-items: center;
    align-content: center;
}